.bookingsCTR {
    width: 100%;
}
.bookingsCTR div {
    margin: 10px;
}
.bookingCTR {
    background-color: #f0c1c1;
    padding: 10px;
    margin: 5px;
}
.availabletimesCTR {
    width: 50%;
}
.datetimeCTR {
    height: 25vh;
}