.timesCTR h1 {
    font-family: 'Merriweather', serif;    
    width: 100vw;
    text-align: center;
    background-color: #f3d5d5;
    padding-top: 10%;
    padding-bottom: 15%;
    color: #535252;
}
.timesCTR h3 {
    font-family: 'Merriweather', serif;    
    width: 100vw;
    text-align: center;
    background-color: #f3d5d5;
    padding-top: 10%;
    padding-bottom: 15%;
    color: #535252;
}